body{
  margin: 0;
}

header{
  height: 100vh;
  background-image: url(gallery/livre.jpg);
  background-position: center;
  background-size: cover;
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

header nav .logo{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-decoration: none;
}

header nav .logo h1{
  margin: 0;
  padding: 0;
}

header nav .blockright{
  display: block;
  position: fixed;
  right: 0%;
}

header nav .blockleft{
  display: block;
  position: fixed;
  left: 0%;
}

header nav ul{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 50px 0 0 50px;
  padding: 10px 10px 10px 10%;
}

header nav ul a{
  color: black;
  text-decoration: none;
  margin-right: 50px;
}

header nav ul a li{
  list-style: none;
  font-family: monospace;
  font-size: 15px;
}

header .title{
  margin: 15% 20%;
}

header .title h1{

}

header .title h3{
  margin: 0 10%;
  font-family: monospace;
  font-weight: normal;
  font-size: 20px;
}

.citation{
  padding: 5% 10%;
}

.citation .texte{
  text-align: center;
  line-height: 1.5;
  font-family: monospace;
  font-size: 16px;
}

.citation .auteur{
  float: right;
  font-family: monospace;
  font-size: 20px;
  padding-bottom: 40px;
}

section article h3{
  margin: 0;
}

#espace{
  width: 100%;
  background-image: url(gallery/nebuleuse.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#espace article, #temps article{
  margin: 10px 10px;
  padding: 10px;
  width: 30%;
  border-radius: 10px;
  background-color: rgb(100, 100, 100, 0.5);
  transition: 0.5s;
}

#espace article:hover, #temps article:hover{
  background-color: rgb(300, 300, 300, 0.8);
  transition: 0.5s;
}

#espace article h3, #temps article h3{
}

#espace article p, #temps article p{
  font-family: monospace;
  font-size: 16px;
  margin-left: 10%;
}

#temps{
  width: 100%;
  background-image: url(gallery/recherche.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*TEST*/

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0;
  z-index: 2;

  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

/*TEST*/

@media screen and (max-width: 1199px) {

  #espace article, #temps article{
    width: 45%;
  }

}

@media screen and (max-width: 799px) {

  #espace article, #temps article{
    width: 90%;
  }

  header .title{
    margin: 25% 10px;
  }

  header nav .blockright{
    display: none;
  }

  header nav .blockleft{
    display: none;
  }

  #menuToggle{
    display: block;
  }

}

@media screen and (max-width: 500px) {

  #espace article p, #temps article p{
    font-size: 14px;
  }

  header .title h1{
    font-size: 16px;
  }

  header .title h3{
    font-size: 13px;
  }

}
